<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCToCFGS8hjrUN1HZF_sPhpUcbMW7f0PkI</string>
	<key>GCM_SENDER_ID</key>
	<string>692512687197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leokris88lim</string>
	<key>PROJECT_ID</key>
	<string>lim-d8b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>lim-d8b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692512687197:ios:667bbce5b4d794bcab79b4</string>
</dict>
</plist>